 <a class="btn btn-primary" style ="float: right" href="/dashboard" role="button">
 <i class="glyphicon glyphicon-dashboard"></i> Dashboard</a> 
 <h1 id="dash_editor"> <strong> <i class="glyphicon glyphicon-edit"></i> Dashboard Editor</strong> </h1>
 <form role="form" method="post" action="/dashboard/edit">
  <div class="form-group">
    <label for="username">Username:</label>
    <input id="edit_dash" type="text" name="username" class="form-control" value="<%= @user.username %>">
  </div>
  <div>
    <label for="email">Email address:</label>
    <input id="edit_dash" type="email" class="form-control" name="email" value="<%= @user.email %>">
  </div>
  <div class="form-group">
    <label for="pwd">Password:</label>
    <input id="edit_dash" type="password" class="form-control" name="password" >
  </div>
  <div class="form-group">
    <label>Your current teachables </label>
    <%(@user.teachable_skills.map &:name).each do |skill|%>
      <a href="/dashboard/delete_teachable/<%=skill%>" class="label label-info"><%= skill.capitalize %><i class="glyphicon glyphicon-remove"></i></a>
    <% end %></br>
    <label>Add a teachable</label>
    <input id="edit_dash" type="text" name="add_teachable_skill" class="form-control">
  </div>
  <div class="form-group">
    <label>Your current learnables</label>
    <%(@user.learnable_skills.map &:name).each do |skill|%>
      <a href="/dashboard/delete_learnable/<%=skill%>" class="label label-success"><%= skill.capitalize %><i class="glyphicon glyphicon-remove"></i></a>
    <% end %></br>
    <label>Add a learnable</label>
    <input id="edit_dash" type="text" name="add_learnable_skill" class="form-control">
  </div>
  <div class="form-group">
    <label>Blub about yourself:</label>
    <input id="edit_dash" type="text-area" name="blurb" class="form-control" value="<%= @user.blurb %>">
  </div>
  <div class="form-group">
  <label>Automatically show my contact info to my matches:</label>
  <input type="checkbox" name="show_info" class="checkbox-default" value="checked" checked>
  </div>
    <button type="submit" class="btn btn-default">Update</button>
  </div>
</form>