<div>
  <div>
  <a class="btn btn-success" id="browse_button" style ="float: right" href="/users" role="button"><i class="glyphicon glyphicon-search"></i> Browse Users </a>
  <br>
    <a class="btn btn-success" id="edit" href="/dashboard/edit" role="button">
    <i class="glyphicon glyphicon-edit"></i> Edit Skills
  </a>
  </div>
  <h1 id="welcome"> <strong> <i class="glyphicon glyphicon-dashboard"></i> Welcome <%= @user.username %> to your dashboard </strong> </h1>


</div>

<div>
  <ul class="list-group">
    <li class="list-group-item">
      <span class="badge"><%= User.count %></span>
      Skillswapr members online
    </li>
  </ul>
</div>

<div>
  
  <li class="list-group-item">
    <div class="row">
      <div class="col-md-1">
      </div>
        <div class="col-md-11">
          <div class="">
            <p id="dash_skill">
              <strong>You want to teach: </strong>  
                <%(@user.teachable_skills.map &:name).each do |skill|%>
                <a id="skill_label" href="/users?query=<%= skill %>&search_by=skill"><span class="label label-info"><%= skill.capitalize %></span></a>
                <% end %>
            </p>

            <p id="dash_skill">
              <strong>You want to learn: </strong>  
                <%(@user.learnable_skills.map &:name).each do |skill| %>
                <a id="skill_label" href="/users?query=<%= skill %>&search_by=skill"><span class="label label-success"><%= skill.capitalize %></span></a>
                <% end %>
            </p>
          </div>
        </div>
      </div>
    </div>
  </li>
</ul>
</br>
<ul>
  <h3 id="people"> People you may want meet! </h3>
  <% @user.find_people_I_want_to_meet.each do |match| %>
  <li class="list-group-item" id="user_match" >
    <div class="row" >
    <div class="col-md-1">
      <a  HREF="<%= match.user_img %>">
        <IMG id="match_img" HEIGHT=75 WIDTH=75 SRC="<%= match.user_img%>">   </IMG>
      </a>
    </div>
    <div class="col-md-12" id="user_match_skills">
      <div >
        <strong><a href="/users/<%= match.id %>"><%= match.username %> </a></strong></br>
          Wants to learn 
          <% @user.i_teach_they_learn(match).each do |teach| %>
            <a id="skill_label" href="/users?query=<%= teach %>&search_by=skill"><span class="label label-info"><%= teach.capitalize %></span></a>
          <% end %>
           
          </br>And can teach
          <% @user.i_learn_they_teach(match).each do |learn| %>
            <a id="skill_label" href="/users?query=<%= learn %>&search_by=skill"><span class="label label-success"><%= learn.capitalize %></span></a>
          <% end %>
        </div>
      </div>          
    </div>
  </li>
  <% end %>
</ul>
</div>

