<h1> Welcome <%= @user.username %> to your awesome dashboard </h1>
</br>

<<<<<<< HEAD
<h3> Skillswapr currently has <%= @num_of_users %> members
and <%= @skills.count %> skills available </h3></br>
=======
<h3> Skillswapr currently has <%= User.count %> members</h3></br>
<h3> Your skills are : <%= @user.teachable_skills.map &:name %></h3></br>
<h3> And you want to learn: <%= @user.learnable_skills.map &:name %></h3></br>

</br>

>>>>>>> master
