<div>
  <a class="btn btn-primary" style ="float: right" href="/users" role="button">Search Page</a>
  <h1> <strong> Welcome <%= @user.username %> to your awesome dashboard </strong> </h1>
</div>

<div>
  <ul class="list-group">
    <li class="list-group-item">
      <span class="badge"><%= User.count %></span>
      Skillswapr members online
    </li>
  </ul>
</div>

<div>
  
  <li class="list-group-item">
    <div class="row">
      <div class="col-md-1">
      <strong>You want to teach: </strong>
      </div>
      <div class="col-md-2">
        <div class="">
         
         <span class="label label-success"><%= (@user.teachable_skills.map &:name).join(" ") %></span>
        </div>
        <div>
         <strong>You want to learn: </strong>
         <span class="label label-success"><%= (@user.learnable_skills.map &:name).join(" ") %></span>
        </div>
      </div>
    </div>
  </li>
</ul>


  <h3> And you want to learn: <%= @user.learnable_skills.map &:name %></h3>
<div>

</br>


<h3> People you may want meet! </h3>
<% @user.find_people_I_want_to_meet.each do |match| %>
  <div>
    <A HREF="<%= match.user_img %>"><IMG HEIGHT=50 WIDTH=50 SRC="<%= match.user_img %>"></IMG></A> 
    <a href="/users/<%= match.id %>"><%= match.username %> </a> 
      wants to learn 
      <%= @user.i_teach_they_learn(match).join(' ') %> 
      from you
      and you can teach him
      <%= @user.i_learn_they_teach(match).join(' ') %>
  </div>
  </br>
<% end %>
  </br>

<h3> People looking for your skills </h3>
<% @user.find_my_students.each do |student| %>
  <p> Student: <a href="/users/<%= student.id %>"> <%= student.username %> </a>
  who wants to learn 
  <%= ((student.learnable_skills.map &:name) & (@user.teachable_skills.map &:name)).join(" ") %>
  </p>
  </br>
<% end %>

<h3> People who can help you learn</h3>
<% @user.find_my_teachers.each do |teacher| %>
  <p> Teacher: <a href="/users/<%= teacher.id %>"> <%= teacher.username %> </a>
  who can help you with
  <%= ((teacher.teachable_skills.map &:name) & (@user.learnable_skills.map &:name)).join(" ") %>
  </p>
  </br>
<% end %>
