<form role="search" method="get" id="user_list">
  <div class="form-group">
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
      <input type="text" class="form-control" name="query" placeholder="Search" >
    </div>
    <button type="submit" class="btn btn-primary">
      <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
    </button>
  </div>
    <div class="col-md-offset-4" id="search-criteria">
      <div class="radio-inline">
        <label>Search by: </label>
      </div>
      <div class="radio-inline">
        <label>
          <input type="radio" name="search_by" value="skill" checked="checked"> Skill
        </label>  
      </div>
      <div class="radio-inline">  
        <label>
          <input type="radio" name="search_by" value="username"> Username
        </label>
      </div>
    </div>

  <% if params[:query]  %>
      <% list = @users %>
  <% else %>
    <% list = User.all %>
  <% end %>

<% if @not_found_message %>
<div class="col-md-offset-4" id="search-criteria">
  <% if params[:search_by] == "username" %>
    <p id="no-result-message">No user found with that name, please search again.</p>
    
  <% elsif params[:search_by] == "skill" %>
    <p  id="no-result-message">No skill found with that name, please search again.</p>
  <% end %>
</div>
</form>

<ul>
<% else %>
  <% list.each do |user| %>
    <% teach_skills = user.teachable_skills.map &:name %>
    <% learn_skills = user.learnable_skills.map &:name %>
    <li class="list-group-item" id="user">
      <div class="row">
        <div class="col-md-1">
        <img id="user_image" src='<%= user.user_img %>'/>
        </div>
        <div class="col-md-14" id="user_info">
          <div id="text">
            <p id="text"><strong>Username: </strong><a href="/users/<%= user.id %>" target="_blank"><%= user.username %></a></p>
            <p id="text"><strong>Learning: </strong><% learn_skills.sort.each do |skill| %>
              <a id="skill_label" href="/users?query=<%= skill %>&search_by=skill"><span class="label label-success"><%= skill.capitalize %></span></a>
            <% end %></a></p>
            <p id="text"><strong>Teaching: </strong><% teach_skills.sort.each do |skill| %>
              <a id="skill_label" href="/users?query=<%= skill %>&search_by=skill"><span class="label label-info"><%= skill.capitalize %></span></a>
            <% end %></a></p>
          </div>
        </div>
      </div>
    </li>
  <% end %>
<% end %>
</ul>