<form role="search" method="get">
  <div class="form-group">
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
      <input type="text" class="form-control" name="query" placeholder="Search" >
    </div>
    <button type="submit" class="btn btn-primary">
      <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
    </button>
  </div>
    <div class="col-md-offset-4">
      <div class="radio-inline">
        <label>Search by: </label>
      </div>
      <div class="radio-inline">
        <label>
          <input type="radio" name="search_by" value="skill" checked="checked"> Skill
        </label>  
      </div>
      <div class="radio-inline">  
        <label>
          <input type="radio" name="search_by" value="username"> Username
        </label>
      </div>
    </div>
</form>
<ul class="list-group">
  <% if params[:query] %>
      <% @users.each do |user| %>
        <% teach_skills = user.teachable_skills.map &:name %>
        <% learn_skills = user.learnable_skills.map &:name %>
        <li class="list-group-item">
          <div class="row">
            <div class="col-md-1">
            </div>
            <div class="col-md-11">
              <div class="">
                <p><strong>Username: </strong><a href="<%= user.id %>" target="_blank"><%= user.username %></a></p>
                <p><strong>Learnables: </strong><% learn_skills.sort.each do |skill| %>
                  <span class="label label-success"><%= skill.capitalize %></span>
                <% end %></a></p>
                <p><strong>Teachables: </strong><% teach_skills.sort.each do |skill| %>
                  <span class="label label-info"><%= skill.capitalize %></span>
                <% end %></a></p>
              </div>
            </div>
          </div>
        </li>
      <% end %>
  <% else %>
    <% User.all.each do |user| %>
      <% teach_skills = user.teachable_skills.map &:name %>
      <% learn_skills = user.learnable_skills.map &:name %>
      <li class="list-group-item">
        <div class="row">
          <div class="col-md-1">
          </div>
          <div class="col-md-11">
            <div class="">
              <p><strong>Username: </strong><a href="<%= user.id %>" target="_blank"><%= user.username %></a></p>
              <p><strong>Learnables: </strong><% learn_skills.sort.map do |skill| %>
              <span class="label label-info"><%= skill.capitalize %></span>
              <% end %></a></p>
              <p><strong>Teachables: </strong><% teach_skills.sort.map do |skill| %>
               <span class="label label-info"><%= skill.capitalize %></span>
              <% end %></a></p>
            </div>
          </div>
        </div>
      </li>
    <% end %>
  <% end %>
</ul>
