<div class='row'>

<div class='col-sm-4'>
    <h1><%=@user.username%>'s Profile</h1>
    <img id="" src='<%= @user.user_img %>'/>
    <h3>About</h3>
    <p><%=@user.blurb%></p>
  </div>
  
  <div class='col-sm-8' id="skills_show">
    <h2><%= @user.username %> wants to learn</h2>
    <ul id="skills_usr_show">
      <% @user.learnable_skills.each do |skill| %>
        <span class="label label-info"><%= skill.name %></span>
      <% end %>
    </ul>

    <h2><%= @user.username %> wants to teach</h2>
    <ul id="skills_usr_show">
      <% @user.teachable_skills.each do |skill| %>
      <l1><span class="label label-success"><%= skill.name %></span></l1>
      <% end %>
    </ul>
    <div>
      <% if @user.show_my_contact_info == true && @user.find_people_I_want_to_meet.include?(@logged_in_user) %>
        <h1><span class="label label-primary"><%= @user.username %> would like to meet you! Email her/him at</span></h1>
        <h1><span class="label label-primary"><%= @user.email %></span></h1>
      <% end %> 
    </div>
  </div>

</div>
