<h1><%=@user.username%>'sProfile<h1>


<table border='1'>
  
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Interested in Learning</th>
    <th>Interested in Teaching</th>
    <th>Member Since</th>
  </tr>
  
  <tr>
    <td><%= @user.username%></td>
    <td><%= @user.email%></td>
    <td><% @user.teachable_skills.each{|skill|  %>
      <div><%= skill.name%></div>

      <% } %></td>
    <td><% @user.learnable_skills.each{|skill| %>
      <div><%= skill.name%></div> 
      <% }%></td>
    <td><%= @user.created_at.year%></td>
  </tr>

</table>

